Repository nazahex/kazaura: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yaml:

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit .git/COMMIT_EDITMSG

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{ts,tsx,js,jsx,mjs,cjs,json}"
      run: bun run biome check --write {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true

pre-push:
  # Run a full project verification before allowing a push. This will fail the
  # push if any step exits non-zero.
  commands:
    total-check:
      run: bun run clean && bun run build && bun run test && bun run lint && bun run format:check

chore: set `prettier`
  .prettierignore
  .prettierrc.yaml
Due: prettier

chore: set `gitignore`
  .gitignore
Due: none

chore: set `editorconfig`
  .editorconfig
Due: none

chore: set `turbo`
  turbo.json
Due: biome

chore: set `biome`
  biome.json
Due: biome

chore: set initial `tsconfig.base`
  tsconfig.base.json
Due: biome

feat: add pure helpers for the `muelle` component
  packages/components/muelle/solid/src/muelle.logic.ts
Due: biome

feat: add fundamental types and interfaces for the `muelle` component
  packages/components/muelle/solid/src/muelle.types.ts
Due: biome

feat: implement `Muelle` footer component
  packages/components/muelle/solid/src/muelle.view.tsx
Due: biome

chore: set muelle solid configs
  packages/components/muelle/solid/package.json
  packages/components/muelle/solid/tsconfig.json
Due: biome

chore: set dprint
  .dprint.json
Due: biome

chore: remove prettier
  .prettierignore
  .prettierrc.yaml
Due: prettier

chore: update editorconfig
  .editorconfig
Due: none

chore: update tsconfig base
  tsconfig.base.json
Due: biome

chore: update turbo
  turbo.json
Due: biome

chore: update lefthook
  lefthook.yaml
Due: prettier

chore: update gitignore
  .gitignore
Due: none

chore: update biome
  biome.json
Due: biome

test: add hydration benchmark script
  apps/bench/hydration/hydrate.bench.ts
Due: biome

test: add memory hydration benchmarking
  apps/bench/memory/hydrate.memory.tsx
Due: biome

test: add memory benchmarking for SSR components
  apps/bench/memory/ssr.memory.tsx
Due: biome

test: add hydration benchmarking for SSR components
  apps/bench/runtime/hydrate.bun.tsx
Due: biome

test: add SSR benchmarking for component rendering
  apps/bench/runtime/ssr.bun.tsx
Due: biome

test: add size benchmarking for component DOM bundles
  apps/bench/size/size.esbuild.ts
Due: biome

feat: add report generation utility for benchmarking
  apps/bench/tools/report.ts
Due: biome

test: add tinybench helper for running and persisting benchmark results
  apps/bench/tools/tinybench.ts
Due: biome

test: implement comprehensive benchmarking tool for SSR and hydration performance
  apps/bench/tools/aggregate.ts
Due: biome

chore: create muelle solid vite sandbox
  packages/components/muelle/solid/sandboxes/app-vite/package.json
Due: biome

chore: create muelle solid vite tsconfig
  packages/components/muelle/solid/sandboxes/app-vite/tsconfig.json
Due: biome

chore: create muelle solid vite vite conf
  packages/components/muelle/solid/sandboxes/app-vite/vite.config.ts
Due: biome

chore: create muelle solid vite base html
  packages/components/muelle/solid/sandboxes/app-vite/index.html
Due: none

chore: create muelle solid vite dict samples
  packages/components/muelle/solid/sandboxes/app-vite/src/i18n/en.json
  packages/components/muelle/solid/sandboxes/app-vite/src/i18n/id.json
Due: biome

feat: implement main app
  packages/components/muelle/solid/sandboxes/app-vite/src/main.tsx
Due: biome

chore: add initial muelle csr-seeded snippet
  packages/components/muelle/solid/snippets/csr-seeded.tsx
Due: biome

chore: add minimal snippet for muelle
  packages/components/muelle/solid/snippets/minimal.tsx
Due: biome

chore: add initial variants snippet for muelle
  packages/components/muelle/solid/snippets/variants.tsx
Due: biome

chore: add performance precompiled snippet for muelle
  packages/components/muelle/solid/snippets/perf-precompiled.tsx
Due: biome

chore: fix dprint conf typo
  .dprint.json
Due: biome

chore: update package.json
  package.json
Due: biome

chore: write components build script
  scripts/build.mjs
Due: biome
