Repository nazahex/kazaura: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: bun run biome check --write {staged_files}
  stage_fixed: true

prettier:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

chore(package.json): update build scripts and improve project structure
  package.json
  packages/components/harbor/solid/package.json
  packages/components/muelle/solid/package.json
Due: biome

docs(readme): add README files with usage examples and installation instructions
  README.md
  packages/components/harbor/solid/README.md
  packages/components/muelle/solid/README.md
Due: prettier

feat(harbor): add initial Harbor styles and configuration in package.json and SCSS
  packages/components/harbor/style/package.json
  packages/components/harbor/style/src/harbor.style.scss
Due: biome

feat(muelle): add package.json and initial SCSS styles for Muelle component
  packages/components/muelle/style/package.json
  packages/components/muelle/style/src/muelle.style.scss
Due: biome

fix(muelle): change JSX setting from react-jsx to preserve in tsconfig
  packages/components/muelle/solid/tsconfig.json
Due: biome

feat(biome): add overrides for style.ts files in JavaScript formatter
  biome.json
Due: biome

fix(package.json): update build:type script to use tsc
  packages/components/harbor/solid/package.json
  packages/components/muelle/solid/package.json
Due: biome

chore: add bun.lock
  .gitignore
  bun.lock
Due: none

fix(bun.lock): update lockfile
  bun.lock
Due: none

chore: remove lockfile
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  bun.lock
Due: prettier

feat(nebula): add core component and type definitions for Nebula organ
  packages/components/nebula/solid/src/index.ts
  packages/components/nebula/solid/src/nebula.types.ts
  packages/components/nebula/solid/src/nebula.view.tsx
Due: biome

feat(nebula): add Nebula style definitions in SCSS and TypeScript
  packages/components/nebula/solid/src/nebula.style.ts
  packages/components/nebula/style/src/nebula.style.scss
Due: biome

feat(nebula): add package.json and tsconfig.json
  packages/components/nebula/solid/package.json
  packages/components/nebula/solid/tsconfig.json
  packages/components/nebula/style/package.json
Due: biome

docs(nebula): add README.md for @kazaura/nebula-solid component
  packages/components/nebula/solid/README.md
Due: prettier

Path conditions:
  biome: any of: *.{ts,tsx,js,jsx,mjs,cjs,json}
  prettier: any of: *.{md,yml,yaml}
